*{
    margin: 0;
    padding: 0;
}
body{

    background-color:#EEE;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1000px;
    background-color: powderblue;
    margin: 0 auto;
    padding: 20px;
}
header{


}

.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{

    color: #11999e;
}
.header-contact{

    float:right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color:teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;

}
.div-clear{
    clear: both;
}
hr{
    border: solid;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

/*----------------------
Personal Section Start
------------------------*/
#personal-section{


}
.content{

    margin-bottom: 30px;
}

.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{

    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin:20px auto;
}

/*----------------------
Education Section Start
------------------------*/
.edu-template-left{

    float:left;
    width: 45%;
}
.edu-template-right{

    float:right;
    width: 45%;    
}

/*----------------------
footer Start
------------------------*/
.bottom-container{

    background-color: #002147;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;

}
.bottom-container p{

    color: white;
    margin-top: 20px;

}




